body {
    zoom: 1;
    overflow: hidden;
    width: auto;
    height: auto;
    margin: 0px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    cursor: auto;
    font-size: 0.8em;
    font-family: "MS PGothic", "Simhei", "Arial", "Helvetica", "Verdana",
        "sans-serif";
}

.HMDPS-resizer-west {
    cursor: w-resize;
}

.HMDPS-content {
    margin: 3px;
    width: auto;
    height: auto;
    padding: 2px;
    border: 1px #a6c9e2 solid;
    overflow: hidden;
    position: relative;
    min-width: 50%;
}

.HMDPS-loading-icon {
    margin: 400px auto;
    background: url(../../jquery/images/loading_index.gif) no-repeat center;
    width: 35px;
    height: 35px;
}

.ui-widget-content.HMDPS.HMDPS-layout-center {
    position: relative;
    height: 401px;
    visibility: visible;
}

.ui-layout-pane-west.ui-layout-container {
    position: absolute;
    margin: 0px;
    left: 0px;
    right: auto;
    top: 34px;
    bottom: 34px;
    height: 470px;
    z-index: 0;
    width: 190px;
    display: block;
    visibility: visible;
    overflow: hidden;
}

.ui-widget-content.HMDPS.HMDPS-layout-west {
    position: relative;
    height: 64px;
    visibility: visible;
}

.HMDPS-content > div {
    margin: 5px;
}

.HMDPS-content fieldset legend b span {
    font-size: 10pt;
}

.HMDPS-content-fixed-width {
    width: 1113px;
}

.HMDPS-content .btn.disabled,
.HMDPS-content .btn[disabled],
.HMDPS-content fieldset[disabled] .btn {
    background-image: none !important;
    opacity: 0.35 !important;
}
.HMDPS-content .HMS-button-set button,
.HMDPS-content .HMS-button-pane button {
    /*親要素の中央に対するサブ要素の配置*/
    vertical-align: middle;
}
