body {
}

.FrmUxJokenToroku .header,
.footer {
    width: 100%;
    text-align: right;
    margin: 1px 0px;
}
.FrmUxJokenToroku.btn {
    height: 24px;
    line-height: 24px;
    padding: 0 1.2em;
}
.FrmUxJokenToroku.normalHeader {
    width: 100%;
    height: 18px;
    line-height: 18px;
    text-indent: 0.5em;
}
