/**
* 説明：
*
* @author GSDL
* @copyright (GD) (ZM)
* @package default
*
* 履歴：
* ------------------------------------------------------------------------------------------------------
* 日付                   Feature/Bug        内容                                                     担当
* YYYYMMDD                  #ID             XXXXXX                                                  GSDL
* 20201117                  bug             車両業務 補完入力の子画面　DIVのHeightが間違っています。    LQS
* ------------------------------------------------------------------------------------------------------
*/
html {
    /* allow scrolling if layout hits min-width/height */
    overflow: auto !important; /* override Layout default of 'hidden' */
}
body {
    color: #fff;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
    /* set min dimensions for layout - window will scroll if smaller than this */
    min-width: 950px;
    min-height: 600px;
    /* max-width works for left-aligned layout - need a container-div to 'center' the layout */
    /*max-width:		1000px;*/
    color: black;
    zoom: 1;
    overflow: hidden;
    width: auto;
    height: auto;
    margin: 0px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    cursor: auto;
/*    background-image: url('../../img/bgi.png'); 
    opacity : 0.94;*/

}
p {
    margin: 1ex 0;
}
.custom a {
    color: blue;
    text-decoration: none;
}
.custom a:visited {
    color: purple;
}
.custom a:hover {
    color: red;
    text-decoration: underline;
}
.hidden {
    /* used to HIDE layout-panes until Layout initializes */
    display: none;
}

/*
 *	Page Content Styles
 */
/* Loading... display */
#page-loading {
    color: #fff;
    font-size: 3em;
    position: absolute;
    left: 40%;
    top: 40%;
}
/* Notes in center-pane of Tab1 */
BLOCKQUOTE,
UL {
    margin-top: 1ex;
    margin-bottom: 1em;
}
LI {
    margin-top: 1ex;
    margin-bottom: 1ex;
}
H4 {
    margin: 1em 0 1ex;
    font-size: 1.1em;
}
#notes {
    padding: 1em 1.5em;
}
#notes > H4 {
    margin-top: 0;
}
.width {
    width: 52px;
}
/*
 *	Generic Layout Styles
 */
.container {
    /* override default style */
    padding: 0 !important;
    overflow: hidden !important;


}
/* #FrmMenuKaisou_sprList .ui-jqgrid .inline-edit-cell {
	width: 52px;
	padding: 0;
 }
 */
.ui-layout-pane {
    padding: 0;
    overflow: hidden;

}

.ui-widget-content {
    /* used as the ui-layout-content class */
    padding: 1ex;
    overflow: auto;

}
/* 20230323 lujunxia ins s*/
.ui-jqgrid-btable .ui-widget-content {
    padding: 1ex !important;
    overflow: auto !important;
}
.ui-jqgrid-btable .ui-widget-content.editable {
    /* jqgid editable cell:input,select,textarea etc */
    padding: 2px !important;
    border: 1px solid black !important;
}
/* 20230323 lujunxia ins e*/
.hidden {
    /* apply to elements to avoid Flash of Content */
    display: none;
}
.allow-overflow {
    overflow: visible;
}
/* HIDE all pane-elements until initialized */
.ui-layout-north,
.ui-layout-south,
.ui-layout-west,
.ui-layout-east,
.ui-layout-center {
    display: none;
}

/*
 *	Outer-Tabs Layout - Structural
 *
 *	NOTE: already set 'ui-layout-pane' to be: overflow: hidden; padding: 0
 */
#outer-center {
    /* #tabbuttonss & #tabpanels container */
    /*background: #DDD;*/ /* need a background to contrast panes - overridden by custom theme */
    padding: 0; /* not sure why need this again? */
}
#tabbuttons {
    /* tabsContainerLayout - north-pane */
    overflow: visible; /* so tabs (LI) can overlap bottom-border */
}
#tabpanels {
} /* tabsContainerLayout - center-pane */
#tabpanels .tab-panel {
    /* tab-layout containers */
    width: 100%;
    height: 100%;
    padding: 0;
    overflow: hidden;
}
/*
 *	Inner-Tabs
 */
#innerTabs.ui-layout-center {
    padding: 0;
}
#innerTabs > DIV:first-child {
} /* header-title */
#innerTabs > UL {
} /* tab-buttons - header */
#innerTabs .ui-widget-content {
} /* tab-panels-wrapper - content-pane */
#innerTabs > DIV {
} /* tab-content wrappers: #simpleTab1, #simpleTab2, etc. */
.custom #innerTabs > UL {
    /* custom theme */
    border-radius: 0; /* override UI theme */
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
.custom #innerTabs > UL LI:first-child {
    /* first tab */
    margin-left: 10px;
}
/*
 *	Accordions
 */
.accordion {
    /* Accordion containers */
    height: 100%;
}

/*
 *	Outer Layout - Cosmetic
 */
#outer-north {
    font-weight: bold;
    padding: 1em 1em;
    padding: 0.4em 0.4em;
}
#outer-north div.buttons {
    float: right;
    margin-top: -4px;
}
#outer-south {
    padding: 0.5em 1em;
    padding: 0.2em 0.4em;
}

/*
 *	Custom Theme
 */
/* outer-layout colors */
body.custom, /* class used to trigger 'custom theme' for all elements */
.custom #outer-north, .custom #outer-center, .custom #outer-south {
    background: #776;
}
/* Tabs Wrapper & Buttons*/
#outer-center.ui-tabs,
#outer-center.ui-tabs > ul {
    border-bottom: 0;
    padding-bottom: 0;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
.custom #outer-center.ui-tabs,
.custom #outer-center.ui-tabs > ul {
    background: transparent;
    border: 0;
    padding: 0;
}
.custom #tabbuttons LI {
    /* tab wrapper */
    border: 0;
    margin-left: 5px;
}
.custom #tabbuttons LI:first-child {
    /* first tab */
    margin-left: 15px;
}
.custom #tabbuttons LI A {
    /* tab links/style */
    font-weight: bold;
    cursor: pointer !important; /* override theme - for 'sorting' */
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-top-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
}
/*	Tab Panels & Contents */
.toolbar {
    overflow: hidden;
    /*border-top:		0 !important;*/
}
.custom .toolbar {
    /* north AND south panes */
    background: #666; /* changed below to match tab-color */
    color: #fff !important; /* override Theme */
    font-weight: bold;
    padding: 6px 2em;
}
.custom #tabpanels .tab-panel {
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}
.custom .ui-layout-north > .toolbar {
    /* north 'toolbar' */
    border: 0;
    border-top-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
}
.custom .ui-layout-south > .toolbar {
    /* south 'statusbar' */
    border-bottom-radius: 8px;
    -moz-border-radius-bottomleft: 8px;
    -moz-border-radius-bottomright: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
}
/*
 *	Can't pad #tabpanels .tab-panel containers because have width/height = 100%
 *	so must pad outer-edges of inner-panes instead to get nice whitespace
 */
.tab-panel .ui-layout-west {
    /*padding-left: 10px;*/
} /* same as west__spacing_closed */
.tab-panel .ui-layout-east {
    /*padding-right: 10px;*/
} /* same as east__spacing_closed */
/*
 *	Every inner-layout is made up of header, content and footer panels
 */
.ui-widget-header {
    padding: 4px 1em;
}
.ui-widget-footer {
    font-size: 0.85em;
    font-weight: normal !important;
}
.custom .ui-widget-header {
    border: 0;
    color: #fff;
    font-size: 0.85em;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.custom .ui-widget-footer {
    /* NOTE: no such class, so footer ALSO has: ui-widget-header */
    border: 0;
    color: #fff;
    letter-spacing: normal;
    text-transform: none;
    text-align: center;
    padding: 3px 1ex 4px;
}
.custom .ui-widget-content {
    /* padding & overflow were already set above under 'Generic Layout Styles' */
    border: 0;
    background: #f9f9f9;
    color: #000;
}
/* #tab1 = blue-green */
.custom #tabbuttons .tab1 a {
    background: #007182;
    color: #fff;
} /* override UI Theme */
.custom #tabpanels #tab1, .custom #tab1 .ui-layout-resizer-sliding, .custom #tab1 .ui-layout-west, /* sidebar panes too - for when 'sliding' */
.custom #tab1 .ui-layout-east {
    background: #83c9d4;
}
.custom #tab1 .ui-layout-resizer-closed {
    border: 1px solid #378c99;
}
.custom #tab1 .toolbar {
    border: 0;
}
.custom #tab1 .toolbar,
.custom #tab1 .ui-widget-header {
    background: #007182;
} /* override UI Theme */
.custom #tab1 .ui-widget-footer {
    background: #378c99;
}
/*
 .custom #tab1 > .ui-layout-center ,
 .custom #tab1 .ui-layout-pane .ui-layout-pane { border: 2px solid #378c99; }
 .custom #tab1 .ui-widget-content	{ border: 1px solid #007182; }
 */
/* #tab2 = green */
.custom #tabbuttons .tab2 a {
    background: #16b81e;
    color: #fff;
} /* override UI Theme */
.custom #tabpanels #tab2, .custom #tab2 .ui-layout-resizer-sliding, .custom #tab2 .ui-layout-west, /* sidebar panes too - for when 'sliding' */
.custom #tab2 .ui-layout-east {
    background: #88e48d;
}
.custom #tab2 .ui-layout-resizer-closed {
    border: 1px solid #4cbf52;
}
.custom #tab2 .toolbar,
.custom #tab2 .ui-widget-header {
    background: #16b81e;
    border: 0;
}
.custom #tab2 .ui-widget-footer {
    background: #4cbf52;
    border: 0;
}
/*
 .custom #tab2 > .ui-layout-center ,
 .custom #tab2 .ui-layout-pane .ui-layout-pane { border: 2px solid #4cbf52; }
 .custom #tab2 .ui-widget-content	{ border: 1px solid #16b81e; }
 */
/* #tab3 = purple */
.custom #tabbuttons .tab3 a {
    background: #6f2ab8;
    color: #fff;
} /* override UI Theme */
.custom #tabpanels #tab3, .custom #tab3 .ui-layout-resizer-sliding, .custom #tab3 .ui-layout-west, /* sidebar panes too - for when 'sliding' */
.custom #tab3 .ui-layout-east {
    background: #c3a2e4;
}
.custom #tab3 .ui-layout-resizer-closed {
    border: 1px solid #9055cf;
}
.custom #tab3 .toolbar,
.custom #tab3 .ui-widget-header {
    background: #6f2ab8;
}
.custom #tab3 .ui-widget-footer {
    background: #9055cf;
}
/*
 .custom #tab3 > .ui-layout-center ,
 .custom #tab3 .ui-layout-pane .ui-layout-pane { border: 2px solid #9055cf; }
 .custom #tab3 .ui-widget-content{ border: 1px solid #6f2ab8; }
 */

/*
 *	Layout Resizers
 */
.ui-layout-resizer-sliding {
    background-color: #bbb; /* overridden by custom theme, above */
}
.ui-layout-resizer-open-hover, .ui-layout-resizer-drag, /* cloned bar */
.ui-layout-resizer-dragging {
    background: #bbb !important; /* need higher specificity */
    opacity: 0.5 !important; /* ditto - not sure why? */
    filter: Alpha(Opacity=50) !important;
}
.ui-layout-resizer-dragging-limit {
    background: #d44848 !important;
}
.ui-layout-resizer-closed-hover {
    background: #ebd5aa;
}

/*
 *	Layout Togglers
 */
.ui-layout-toggler {
    background-color: #fff;
    opacity: 0.6;
    filter: Alpha(Opacity=60);
}
.ui-layout-resizer-open-hover .ui-layout-toggler,
.ui-layout-toggler-hover {
    opacity: 1;
    filter: Alpha(Opacity=100);
}
.ui-layout-toggler .ui-icon {
    margin: 0 auto;
} /* default - center horizontally */
.ui-layout-toggler-north .ui-icon,
.ui-layout-toggler-south .ui-icon {
    margin-top: -3px;
} /* tweak arrow vertical-center */
.ui-layout-toggler-west .ui-icon,
.ui-layout-toggler-east .ui-icon {
    margin-left: -3px;
} /* tweak arrow horizontal-center */
/* assign arrows for each side & state */
.ui-layout-toggler-north-closed .ui-icon,
.ui-layout-toggler-south-open .ui-icon {
    background-position: -64px -192px; /* ui-icon-circle-triangle-s */
    background-position: -128px -16px; /* ui-icon-triangle-2-n-s */
    background-position: -64px -16px; /* ui-icon-triangle-1-s */
}
.ui-layout-toggler-south-closed .ui-icon,
.ui-layout-toggler-north-open .ui-icon {
    background-position: -96px -192px; /* ui-icon-circle-triangle-n */
    background-position: -128px -16px; /* ui-icon-triangle-2-n-s */
    background-position: 0 -16px; /* ui-icon-triangle-1-n */
}
.ui-layout-toggler-west-closed .ui-icon,
.ui-layout-toggler-east-open .ui-icon {
    background-position: -48px -192px; /* ui-icon-circle-triangle-e */
    background-position: -144px -16px; /* ui-icon-triangle-2-e-w */
    background-position: -32px -16px; /* ui-icon-triangle-1-e */
}
.ui-layout-toggler-east-closed .ui-icon,
.ui-layout-toggler-west-open .ui-icon {
    background-position: -80px -192px; /* ui-icon-circle-triangle-w */
    background-position: -144px -16px; /* ui-icon-triangle-2-e-w */
    background-position: -96px -16px; /* ui-icon-triangle-1-w */
}

/*2013-12-04 qiuqiu add start*/

.HMS-circle-conner,
input {
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -khtml-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    -khtml-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -khtml-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -khtml-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/*2013-12-04 qiuqiu add end*/

/*2013-12-13 qiuqiu add start*/

.chrome-font-s {
    -webkit-transform: scale(0.95);
    margin-left: -5px;
}

.HMS-button-pane {
    width: 99%;
    min-height: 30px;
    position: relative;
    bottom: 0px;
    /*border: 1px solid red;*/
    /*margin: 10px auto 0 auto;*/
    margin-top: 10px;
}

.HMS-button-set {
    float: right;
    /*margin: auto 10px;*/
    /*border: solid 1px yellow;*/
}

.HMS-button-pane button,
.FrmListSelect button,
.FrmSpecialInput button,
.FrmOptionInput button {
    display: inline-block;
    margin: auto 3px;
    min-width: 100px;
    height: 25px;
}

input[type="text"],
input[type="text"][maxlength="10"],
input[type="text"][maxlength="12"] {
    width: 120px;
}

input[type="text"][maxlength="1"],
input[type="text"][maxlength="2"] {
    width: 20px;
}

input[type="text"][maxlength="3"] {
    width: 30px;
}

input[type="text"][maxlength="4"] {
    width: 40px;
}

input[type="text"][maxlength="5"] {
    width: 50px;
}

input[type="text"][maxlength="32"],
input[type="text"][maxlength="34"] {
    width: 250px;
}

input[maxlength="20"],
.FrmList .tag-L,
.FrmSpecialInput .tag-L,
.FrmOptionInput .tag-L {
    width: 190px;
}

/*20170615 LQS INS S*/
input.ui-pg-input {
    width: 30px;
}
/*20170615 LQS INS E*/

/*.FrmList .tag-M {
 width: 80px;
 }*/

/*.FrmSpecialInput .tag-M, .FrmOptionInput .tag-M {
 width: 95px;
 }*/

.FrmFDHokanInput input[type="text"] {
    border: 1px solid #000000;
    height: 18px;
}

.FrmFDHokanInput input[type="text"][disabled="disabled"] {
    background-color: #dfdfdf;
}

input[type="text"][readonly="readonly"] {
    background-color: #dfdfdf;
    border: 1px solid #000000;
    /*height: 18px;*/
}

.FrmFDHokanInput .miniTbl {
    width: 99%;
    border: solid 1px black;
    margin-top: 5px;
}

.FrmFDHokanInput .miniTbl tr:nth-child(2) td {
    padding-top: 5px;
    /*padding-bottom:5px;*/
}
/* 20201117 lqs ins S fireFox */
.FrmFDHokanInput input[type="text"][maxlength="8"] {
    width: 95px !important;
}
.FrmFDHokanInput input[type="text"][maxlength="9"] {
    width: 110px !important;
}
.FrmFDHokanInput input[type="text"][maxlength="3"] {
    width: 29px !important;
}
/* 20201117 lqs ins E fireFox */

textarea {
    height: 50px;
    width: 410px;
    border: solid 1px black;
    resize: none;
}
label {
    text-align: left;
    /*20210527 lqs ins S*/
    height: 21px;
    line-height: 21px;
    /*20210527 lqs ins E*/
    display: inline-block;
}
.Label {
    text-align: left;
    /*20210527 lqs ins S*/
    height: 21px;
    line-height: 21px;
    /*20210527 lqs ins E*/
    display: inline-block;
}

.lbl-yellow-S,
.lbl-yellow-M,
.lbl-yellow-L,
.lbl-yellow-XL {
    background-color: #fff68f;
    border: solid 1px black;
    padding: 2px;
}

.lbl-blue-S,
.lbl-blue-M,
.lbl-blue-L,
.lbl-blue-XS,
.lbl-blue {
    background-color: #7ec0ee;
    border: solid 1px black;
    padding: 2px;
}

.lbl-grey-S,
.lbl-grey-M,
.lbl-grey-L,
.lbl-grey {
    background-color: #cccccc;
    border: solid 1px black;
    padding: 2px;
}

.lbl-sky-L,
.lbl-sky-M {
    background-color: #87cefa;
    border: solid 1px black;
    padding: 0px 2px;
}
.lbl-sky-LF,
.lbl-sky-MF {
    background-color: #e6e6fa;
    border: solid 1px black;
    padding: 0px 2px;
    width: 80px;
}

.lbl-sky-GF {
    background-color: #5f9ea0;
    border: solid 1px black;
    padding: 0px 2px;
    /*20150928 LI UPD S.*/
    /*width: 80px;*/
    width: 90px;
    /*20150928 LI UPD E.*/
}
.lbl-yellow-S,
.lbl-grey-M {
    width: 70px;
}

.lbl-yellow-M,
.lbl-blue-M,
.lbl-grey-L,
.lbl-sky-M,
.FrmList .tag-M {
    width: 80px;
}

.lbl-sky-xM {
    background-color: #87cefa;
    border: solid 1px black;
    padding: 0px 3px;
    width: 60px;
}

.lbl-yellow-L,
.lbl-blue-L,
.lbl-sky-L,
.FrmSpecialInput .tag-M,
.FrmOptionInput .tag-M {
    width: 100px;
}

.lbl-blue-S,
.lbl-grey-S {
    width: 40px;
}

.lbl-yellow-XL {
    width: 150px;
    border-bottom: 0px;
    margin-top: 7px;
}

.lbl-blue-XS {
    width: 30px;
}

.lbl-orange-L {
    background-color: #ffdacc;
    border: solid 1px black;
    padding: 2px;
}

.lbl-grey-noborder {
    background-color: #cdc5bf;
}
/*20150918 li UPD S.*/
/*fieldset button, .FrmTRKDownLoadFS button, .FrmKasouDownLoadFS button, .FrmGENKAIMAKE button, .FrmSyokaiFurikae button {*/
fieldset button,
.FrmTRKDownLoadFS button,
.FrmKasouDownLoadFS button,
.FrmGENKAIMAKE button {
    /*20150918 li UPD E.*/
    float: right;
    min-width: 80px;
    height: 23px;
}

th.ui-th-column div {
    white-space: normal !important;
    height: auto !important;
    padding: 0px;
}

.FrmOkaiagePrint .HMS-button-pane,
.FrmPrintTanto .HMS-button-pane {
    width: 55.8%;
}

.closeHide {
    z-index: 10000;
}

/*2013-12-13 qiuqiu add end*/

/* ALT Graphics
 .ui-layout-toggler-east-closed,
 .ui-layout-toggler-west-open	{ background: transparent url(/lib/img/toggle-lt.gif) no-repeat right center; }
 .ui-layout-toggler-west-closed,
 .ui-layout-toggler-east-open	{ background: transparent url(/lib/img/toggle-rt.gif) no-repeat left center; }
 .ui-layout-toggler-south-closed,
 .ui-layout-toggler-north-open	{ background: transparent url(/lib/img/toggle-up.gif) no-repeat center bottom; }
 .ui-layout-toggler-north-closed,
 .ui-layout-toggler-south-open	{ background: transparent url(/lib/img/toggle-dn.gif) no-repeat center top; }
 */

/*2014/08/22 zhenghuiyun insert start*/
/* 为了【resizable : true】的dialog不显示 h,v scroll
 * 跟这个有冲突，今后需要解决
 * .ui-widget-content {
 *  padding: 1ex;
 *  overflow: auto;
 * }
 *
 */
.ui-dialog,
.ui-widget,
.ui-widget-content {
    overflow: hidden;
}
/*2014/08/22 zhenghuiyun insert end*/
