body {
}

.table td {
    border: solid #a6c9e2;
    border-width: 0px 1px 1px 0px;
    height: 22px;
    text-align: left;
    line-height: 22px;
    padding-left: 10px;
}
.table {
    border: solid #a6c9e2;
    border-width: 1px 0px 0px 1px;
}
.table td input {
    border: none;
    outline: none;
    background: none;
}
.table td input.colspan {
    width: 300px;
}

.box {
    width: 500px;
    margin-left: 80px;
}
.box p {
    padding-left: 14px;
    margin: 10px 0px;
}

.innerBox {
    border: 1px solid #a6c9e2;
    width: 96%;
    margin-left: 2%;
    overflow: hidden;
}

.normalHeader {
    width: 100%;
    height: 24px;
    line-height: 24px;
    text-indent: 0.5em;
}
.warnningHeader {
    background: url(bg_warnning.png) repeat-x;
    height: 24px;
    line-height: 24px;
    padding-left: 0.5em;
    border: 2px solid #cb6764;
    position: relative;
}

.btnPDFoutput {
    position: absolute;
    top: 0px;
    right: 12px;
    height: 24px;
    padding: 0 10px;
}

.ui-jqgrid .ui-jqgrid-htable th div {
    text-align: left;
}
