body {
    zoom: 1;
    overflow: hidden;
    width: auto;
    height: auto;
    margin: 0px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    cursor: auto;
    font-size: 0.8em;
    /*    font-family: "MS PGothic", "Simhei", "Arial", "Helvetica", "Verdana",
        "sans-serif";*/
}
