body {
    zoom: 1;
    overflow: hidden;
    width: auto;
    height: auto;
    margin: 0px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    cursor: auto;
    font-size: 0.8em;
    font-family: "MS PGothic", "Simhei", "Arial", "Helvetica", "Verdana",
        "sans-serif";
}
.R4-content {
    margin: 3px;
    width: auto;
    height: auto;
    padding: 2px;
    border: 1px #a6c9e2 solid;
    overflow: hidden;
    position: relative;
    min-width: 50%;
}

.ui-layout-pane-west.ui-layout-container {
    position: absolute;
    margin: 0px;
    left: 0px;
    right: auto;
    top: 34px;
    bottom: 34px;
    height: 470px;
    z-index: 0;
    width: 190px;
    display: block;
    visibility: visible;
    overflow: hidden;
}
/* 暂时修正 150% */
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
    .R4-content {
        max-width: 100% !important;
    }
    .R4-content legend span[style*="font-size: 10pt"] {
        font-size: 11px !important;
    }
}
