.frmFDHokanSelect .ui-paging-info {
    display: block !important;
    height: 24px !important;
    line-height: 24px !important;
}
/* 暂时修正 150% */
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
    #jqgh_FrmFDHokanSelect_sprList_FD_CRE,
    #jqgh_FrmFDHokanSelect_sprList_INP_FLG {
        top: 8px !important;
    }
    .frmFDHokanSelect.GroupBox1 {
        height: 13.7vh !important;
    }
    .frmFDHokanSelect.GroupBox1 table > tbody > tr:first-child {
        height: 31px !important;
    }
}
