@model Platform.Infrastructure.Definitions.HomeDefinition
@{
    ViewData["Title"] = Model?.Title ?? "LowCode Platform";
    ViewData["ActivePage"] = "Home";
}
<div class="min-h-screen">
@if (Model?.Layout != null)
{
    foreach (var component in Model.Layout)
    {
        var viewName = $"~/Views/Home/Components/_{component.Type}.cshtml";
        try
        {
            await Html.RenderPartialAsync(viewName, component.Data);
        }
        catch
        {
            <div class="text-red-500 p-4">Component '@component.Type' not found</div>
        }
    }
}
else
{
    await Html.RenderPartialAsync("_DefaultHome");
}
</div>
