.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: sans-serif;
    font-size: 11px;
}
.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}
.bar {
    fill: black;
}

.bar:hover {
    fill: orangered;
}
.current {
    fill: blue;
}
.current:hover {
    fill: orangered;
}
.bar1 {
    fill: orangered;
}
.bar2 {
    fill: red;
}